<div
  style="
    font-family: &quot;Manrope&quot;, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
  "
>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Stack+Sans+Text:wght@200..700&display=swap");
  </style>

  <div
    style="
      background: #ffffff;
      padding: 20px;
      border-radius: 30px 30px 0 0;
      border: 1px solid #e2e8f0;
      flex: content;
      justify-items: center;
      align-items: center;
      width: full;
    "
  >
    <img
      src="https://hoocfkzapbmnldwmedrq.supabase.co/storage/v1/object/public/m-health-public/static/351683e6cb20f2684a3935a0428cad62.png"
      alt="M-HEALTH Logo"
      width="150"
      height="50"
      style="object-fit: contain"
    />
  </div>
  <div
    style="
      background: #f8fafc;
      padding: 20px;
      border-left: 1px solid #e2e8f0;
      border-right: 1px solid #e2e8f0;
    "
  >
    <h2 style="color: #3e77ab; margin-top: 0">Tautan Masuk Cepat</h2>
    <p
      style="
        color: gray;
        font-style: italic;
        font-size: 12px;
        margin-top: -12px;
      "
    >
      Login with Magic Link
    </p>
    <p style="color: black; font-size: 16px">
      Silahkan kunjungi atau klik tautan dibawah ini untuk masuk akun Anda
    </p>
    <p
      style="
        color: gray;
        font-style: italic;
        font-size: 12px;
        margin-top: -10px;
      "
    >
      Please visit or click the link below to login to your account
    </p>
    <p
      style="
        color: #3e77ab;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 700;
        background: #ffffff;
        padding: 10px;
        border-radius: 10px;
      "
    >
      {{.Email}}
    </p>

    <div style="text-align: start; margin: 50px 0">
      <a
        href="{{.ConfirmationUrl}}"
        style="
          background: #30b878;
          color: white;
          padding: 14px 32px;
          text-decoration: none;
          border-radius: 50px;
          font-weight: bold;

          flex-direction: column;
          line-height: 1.5;
          text-align: center;
        "
        ><span>Sign In</span>
      </a>
      <p
        style="
          font-style: italic;
          color: #3e77ab;
          margin-top: 30px;
          font-size: 14px;
        "
      >
        {{.ConfirmationUrl}}
      </p>
    </div>
    <p style="font-size: 16px; text-align: start">
      Informasi ini dikirim secara otomatis, setelah anda membuat permintaan
      masuk. Tautan hanya berlaku untuk 5 menit. Mohon tidak membalas email ini.
      Jika terdapat pertanyaan, silakan hubungi layanan pelanggan kami.
    </p>
    <p
      style="
        font-size: 12px;
        text-align: start;
        font-style: italic;
        color: gray;
      "
    >
      This information is sent automatically after you make a login request. The
      link is only valid for 5 minutes. Please do not reply to this email. If
      you have any questions, please contact our customer service.
    </p>

    <p style="font-size: 16px; text-align: start; margin-top: 40px">
      Salam hangat kami,
    </p>
    <p
      style="
        font-size: 12px;
        text-align: start;
        font-style: italic;
        color: gray;
        margin-top: -10px;
      "
    >
      Warm regards,
    </p>
    <p
      style="
        font-size: 20px;
        text-align: start;
        color: #30b878;
        font-weight: 700;
        margin-top: -2px;
      "
    >
      M HEALTH
    </p>
  </div>
  <div
    style="
      background: #191c1e;
      padding: 40px 20px;
      border-radius: 0 0 30px 30px;
      text-align: start;
    "
  >
    <p style="color: white; margin: 0; font-size: 14px">
      Anda menerima email ini karena terdaftar di M-HEALTH dan sesuai dengan
      Ketentuan Penggunaan dan Kebijakan Privasi dan/atau tujuan sah lainnya.
    </p>
    <p
      style="
        font-size: 12px;
        text-align: start;
        font-style: italic;
        color: rgb(169, 169, 169);
        margin-top: 5px;
        margin-bottom: 20px;
      "
    >
      You are receiving this email because you are registered with M-HEALTH and
      in accordance with the Terms of Use and Privacy Policy and/or other
      legitimate purposes.
    </p>

    <p style="color: white; margin: 0; font-size: 14px">
      © 2025, PT. Medika Integrasi Persada Indonesia. PT. Medika Integrasi
      Klinik Indonesia. M HEALTH. Hak cipta dilindungi oleh undang-undang.
    </p>
    <p
      style="
        font-size: 12px;
        text-align: start;
        font-style: italic;
        color: rgb(169, 169, 169);
        margin-top: 5px;
      "
    >
      © 2025, PT. Medika Integrasi Persada Indonesia. PT. Medika Integrasi
      Klinik Indonesia. M HEALTH. All rights reserved.
    </p>
    <div
      style="
        border-top: 1px solid rgb(71, 71, 71);
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
      "
    >
      <p style="font-size: 14px; color: #30b878; margin: 0; padding-top: 0px">
        info@m-health.id | +62 823-1017-2457
      </p>
      <p style="color: white; margin: 0; font-size: 14px; padding-top: 10px">
        Jl. Pandan 11A, Gading Kasri, Kec. Klojen, Kota Malang, Jawa Timur 65115
      </p>
    </div>
  </div>
</div>
